.shiny-text {
    color: var(--bonton-gray-800);
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            var(--bonton-sky-blue) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine linear infinite;
    font-weight: inherit;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}